@font-face {
  font-family: 'Texgyre';
  font-style: normal;
  font-weight: 400;
  src: local('Texgyreheros Regular'), local('Texgyreheros-Regular'), url('../fonts/texgyre/texgyreheros-regular.otf') format('opentype');
}
