---
layout: page
title: Foire Aux Questions LFS
use-site-title: true
---
      <p>La FAQ est divisée en trois documents. La <a
href="{{site.baseurl}}/faq/index.html">FAQ générale</a> propose des liens
vers toutes les questions et les réponses. La <a
href="{{site.baseurl}}/faq/lfs">FAQ LFS</a> est une sélection des questions
les plus fréquemment posées concernant LFS et la <a
href="{{site.baseurl}}/faq/blfs">FAQ BLFS</a> est une sélection des
questions les plus fréquemment posées spécifiques à BLFS.</p>

      <h3><a href="#fre">Améliorations fréquemment demandées</a></h3>
      <ul>
        <li><a href="#add-grub">Pourquoi ne pas utiliser LILO plutôt que GRUB ?</a></li>
        <li><a href="#why-not-new-lilo">Pourquoi ne pas mettre à jour LILO à la dernière
version&nbsp;?</a></li>
        <li><a href="#why-not-faq">Pourquoi ne pas inclure la FAQ au livre&nbsp;?</a></li>
        <li><a href="#why-vim">Pourquoi est-ce que Vim est dans le livre&nbsp;?</a></li>
        <li><a href="#hjl-binutils">Pourquoi est-ce que la version HJL de Binutils n'est
pas dans le livre&nbsp;?</a></li>
        <li><a href="#why-not-package-management">Pourquoi n'y a-t'il pas de
gestionnaire de paquets dans le livre&nbsp;?</a></li>
        <li><a href="#no-poweroff">Comment provoquer l'arrêt électrique de la machine à
la sortie du système&nbsp;?</a></li>
      </ul>
      <h3><a href="#resources">Pendant la lecture et la construction de LFS</a></h3>
      <ul>
        <li><a href="#what-dist">Quelle distribution devrais-je utiliser, pour
démarrer&nbsp;?</a></li>
        <li><a href="#kernel-modules">Comment compiler un noyau ou configurer un
module&nbsp;?</a></li>
        <li><a href="#gcc-warnings">Est-ce que c'est mal, les avertissements de
compilation de Gcc&nbsp;?</a></li>
        <li><a href="#dirty-sources">Dois-je conserver les sources après
l'installation&nbsp;?</a></li>
        <li><a href="#really-small">Comment puis-je procéder à cette toute petite
installation dont parle le livre&nbsp;?</a></li>
        <li><a href="#procs-lfs">Existe-t'il des informations sur la façon de construire
LFS sur d'autres architectures&nbsp;?</a></li>
        <li><a href="#cross-compile">Comment faire une compilation croisée avec
LFS&nbsp;?</a></li>
        <li><a href="#dos-text">Qu'est qu'un fichier texte au format DOS&nbsp;?</a></li>
        <li><a href="#wget">Y a-t-il moyen de télécharger tous les fichiers actuels en
une seule fois&nbsp;?</a></li>
      </ul>
      <h3><a href="#generrors">Erreurs de compilation usuelles</a></h3>
      <ul>
        <li><a href="#gnu-patches">J'ai utilisé un patch provenant de GNU pour faire des
mises à jour&nbsp;? C'est bon&nbsp;?</a></li>
        <li><a href="#optimizations">Utilisation des paramètres d'optimisation
(paramétrage des CFLAGS)</a></li>
        <li><a href="#config-hang-size_t">Pourquoi est-ce que configure se fige à
«&nbsp;checking for signed size_t type...&nbsp;»&nbsp;?</a></li>
        <li><a href="#dirty-sources">Je n'ai pas effacé l'arborescence des sources après
mon dernier essai. Faut-il le faire&nbsp;?</a></li>
        <li><a href="#perm-denied">J'obtiens le message «&nbsp;/dev/null: Permission
denied&nbsp;»</a></li>
        <li><a href="#sig11">signal 11 (internal error: Segmentation fault)</a></li>
        <li><a href="#any-no-such-file">No such file or directory</a></li>
        <li><a href="#configure-no-such-file">bash: ./configure: No such file or
directory</a></li>
        <li><a href="#bad-interpreter-permission-denied">./configure: bad interpreter:
Permission denied</a></li>
        <li><a href="#conf-guess-fail">configure n'arrive pas à déterminer le type de
mon hôte.</a></li>
        <li><a href="#config-not-gnu-c">checking whether we are using GNU C... no</a></li>
        <li><a href="#no-ptys">Le système n'a plus de ptys. Demandez à votre
administrateur d'en créer d'autres.</a></li>
      </ul>
      <h3><a href="#packerrors">Erreurs spécifiques à certains paquets</a></h3>
      <ul>
        <li><a href="#unknown-pseudo-op-hidden">GCC: Error: Unknown pseudo-op:
`.hidden'</a></li>
        <li><a href="#glibc-awk-fail">Glibc sort en erreur et évoque BEGIN et END.</a></li>
        <li><a href="#glibc-nss">La compilation de Glibc sort en erreur à cause de
l'absence de l'entête de fichier nss.h.</a></li>
        <li><a href="#cpp-fails-sanity-check">Ncurses: le préprocesseur C++ "/lib/cpp"
échoue lors de la vérification de conformité</a></li>
      </ul>
      <h3><a href="#confboot">Problèmes de configuration et de démarrage</a></h3>
      <ul>
        <li><a href="#unable-to-mount-root">Kernel panic: VFS: unable to mount root
fs</a></li>
        <li><a href="#respawning-too-fast">init: Id &quot;1&quot; respawning too fast:
disabled for 5 minutes</a></li>
        <li><a href="#char-major-10-135">modprobe: Can't locate module
char-major-10-135</a></li>
        <li><a href="#no-dev-rtc">modprobe: Can't locate module /dev/rtc</a></li>
        <li><a href="#eth0-unknown-interface">eth0:unknown interface</a></li>
        <li><a href="#spurious-8259A-interrupt">spurious 8259A interrupt: IRQ14</a></li>
        <li><a href="#less-prints-ad">Pourquoi est-ce que less (et par conséquent man)
affiche &lt;AD&gt; au lieu des tirets&nbsp;?</a></li>
      </ul>
      <div class="newsItem"></div>

      <h3 id="fre">Améliorations fréquemment demandées</h3>
      <dl>
        <dt id="add-grub">Pourquoi ne pas utiliser LILO plutôt que GRUB&nbsp;?</dt>
        <dd>
          <p>Depuis LFS-5.0, publiée le 5 novembre 2003, LFS utilise Grub plutôt que
Lilo. Grub a été choisi parce qu'il n'a pas besoin d'être réinstallé après
une mise à jour du noyau et a une très bonne console de secours. </p>
          <p> Si votre installation actuelle utilise LILO ou si vous souhaitez l'utiliser
malgré tout, vous pouvez, mais soyez conscients que vous devrez aussi
installer BIN86 et, pour les dernières versions de LILO, NASM. Cependant, ne
prêchez pas cela sur les listes de diffusion de LFS, car nous avons déjà eu
des discussions enflammées à ce propos.
          </p>
        </dd>
        <dt id="why-not-faq">Pourquoi ne pas inclure la FAQ dans le livre&nbsp;?</dt>
        <dd>
          <p>Marc Heerdink l'a sans doute mieux dit dans un post sur lfs-dev&nbsp;:</p>
          <blockquote><p>Le problème c'est que la FAQ est un document dynamique. La FAQ pour une
version du livre n'est publiée qu'après le livre, car la FAQ est mise à jour
pour refléter les question posées à propos de la version actuelle du
livre. Un lien c'est mieux, car vous aurez toujours la dernière information
à jour à portée de main.</p></blockquote>
        </dd>
        <dt id="why-vim">Pourquoi vim est dans le livre&nbsp;?</dt>
        <dd>
          <p>Ça a bien été discuté dans le fil qui commence par <a
href="http://linuxfromscratch.org/pipermail/lfs-dev/2002-February/023030.html">http://linuxfromscratch.org/pipermail/lfs-dev/2002-February/023030.html</a>.</p>
        </dd>
        <dt id="hjl-binutils">Pourquoi est-ce que la version HJL de Binutils n'est pas dans le
livre&nbsp;?</dt>
        <dd>
          <p>La version de binutils que vous trouverez sur ftp.gnu.org est généralement
appelée le binutils de la «&nbsp;FSF&nbsp;». Un hacker émérite, H. J. Lu,
publie aussi un binutils en dehors du dépôt CVS principal et ces versions
sont appelées les binutils «&nbsp;HJL&nbsp;» et peuvent souvent être
trouvées sar ftp.kernel.org. Des débats éclatent souvent à propos de quelle
version utiliser à cause du fait que la plupart des distributions connues
utilisent plutôt les version HJL bien qu'elles sont souvent marquées
«&nbsp;beta&nbsp;».</p>
          <p>Voici notre interprétation sur les différences entre les deux&nbsp;:</p>
          <h4>HJL&nbsp;:</h4>
          <ul>
            <li>Pour les OS linux seulement</li>
            <li>Marqué comme &quot;beta&quot;</li>
            <li>Suit de très près le HEAD du CVS</li>
            <li>Contient habituellement les dernières corrections de bogues subtiles</li>
            <li>Contient habituellement les dernières corrections de bogues pour les
architectures non x86</li>
            <li>Habituellement une nouvelle version chaque fois qu'un bogue significatif qui
affecte Linux est corrigé</li>
            <li>Théoriquement moins stable à cause du code plus récent</li>
          </ul>
          <h4>FSF&nbsp;:</h4>
          <ul>
            <li>Supporte plus d'OS (pas seulement Linux)</li>
            <li>Le code provient de la branche stable du CVS</li>
            <li>Parfois pas tout à fait à jours par rapport aux subtilités des versions
ultra-récentes du noyau, de gcc et de la glibc</li>
            <li>Inclus souvent des fonctionnalités récupérée depuis le HEAD du CVS après un
période de test</li>
            <li>Théoriquement plus stable</li>
          </ul>
          <p>Vous remarquerez dans les arguments ci-dessus des mots comme
«&nbsp;habituellement&nbsp;» et «&nbsp;parfois&nbsp;». Cela montre que la
situation peut différer en fonction du moment auquel on se réfère. Par
exemple, de temps en temps il y a une nouvelle fonctionnalité dans gcc ou
glibc qui requièrent un support de binutils. Pendant ces périodes, vous
entendrez souvent les développeurs dire «&nbsp;vous devez utiliser la
dernière version HJL de binutils x.y.z.a.b&nbsp;».</p>
          <p>La seule manière de choisir correctement la version la plus appropriée à
utiliser est de&nbsp;:</p>
          <ul>
            <li>Rester informés des problèmes sur les listes de diffusion des paquets du
cœur de la chaîne d'outils</li>
            <li>Avoir une large dose de prouesse technique et de talent en programmation
pour comprendre tous les problèmes</li>
            <li>Tester comme un fou en lançant les suites de tests</li>
            <li>Tester comme un fou en construisant des systèmes complets</li>
          </ul>
          <p>Le vrai problème c'est que les paquets du cœur de la chaîne d'outils sont
tous très liés entre eux et doivent être testés pour s'assurer qu'ils
fonctionnent ensemble. Vous devez en gros construire une distribution
complète et la tester sous toutes les coutures avant d'être satisfait.</p>
          <p>Si vous suivez les listes de diffusion des paquet du cœur de la chaîne
d'outils suffisamment longtemps, vous comprendrez que les développeurs ne se
soucient pas vraiment qu'une version particulière du «&nbsp;Paquet A&nbsp;»
fonctionne avec une version particulière du «&nbsp;Paquet B&nbsp;». En
d'autres termes, la coordination des publications entre les projets n'est
pas la priorité. En réalité, cela signifie que Alan Cox a raison lorsqu'il
dit que vous ne pouvez pas simplement aller sur ftp.gnu.org et récupérer les
dernière version de tout ce qui s'y trouve et vous attendre à ce que ça
marche.</p>
        </dd>
        <dt id="why-not-package-management">Pourquoi n'y a-t'il pas de gestionnaire de paquets dans le livre&nbsp;?</dt>
        <dd>
          <p>La gestion des paquets — au-delà de ce qui est fournit par des archives et
des makefiles — est en dehors de la portée du livre. Si rien d'autre ne vous
convainc, le nombre de «&nbsp;solutions&nbsp;» différentes devrait vous
aider à en comprendre la raison.</p>
          <p>Voici quelques possibilités&nbsp;:</p>
          <ul>
            <li>Aucun gestionnaire de paquet n'est vraiment nécessaire. À moins que vous ne
souhaitiez vérifier le placement des fichiers des paquets minutieusement,
tout paquet suffisamment gros pour qu'on ait envie de le supprimer pour
faire de la place sur le disque peut être installé dans /opt comme décrit
par le FHS (peut-être dans /opt/foo-x.x avec un lien depuis /opt/foo) et les
nouvelles versions peuvent généralement être réinstallées par dessus
l'ancienne, bien que les mises à jour majeures et les bibliothèques soient
mieux traitées en reconstruisant le système depuis le début.</li>
            <li>RPM, le gestionnaire de paquet de Redhat, est utilisé par un certain nombre
de distributions. Il est disponibles sur <a
href="http://www.rpm.org/">http://www.rpm.org/</a> et il y a une <a
href="{{site.baseurl}}/astuces/lire">astuce RPM</a> pour vous aider à
l'installer.</li>
            <li>Il y a plusieurs implémentations d'une gestion de paquets par les liens
symboliques&nbsp;:
            <ul>
              <li>Epkg est disponible sur <a
href="http://www.encap.org/epkg/">http://www.encap.org/epkg/</a>.</li>
              <li>Graft est disponible sur <a href="http://peters.gormand.com.au/Home/tools"
>http://peters.gormand.com.au/Home/tools</a>.</li>
              <li>GNU Stow est disponible sur <a
href="http://www.gnu.org/software/stow/">http://www.gnu.org/software/stow/</a>.</li>
              <li>Et bien d'autres sont listés dans la documentation de Graft sur <a
href="http://peters.gormand.com.au/Home/tools/graft/graft-html#research">http://peters.gormand.com.au/Home/tools/graft/graft-html#research</a>.</li>
            </ul>
            </li>
            <li>Le gestionnaire de paquets de NetBSD, pkgsrc, est disponible sur d'autres
systèmes, y compris Linux. Il se trouve sur <a
href="ftp://ftp.netbsd.org/pub/pkgsrc/stable/">ftp://ftp.netbsd.org/pub/pkgsrc/stable/</a>.</li>
            <li>À l'origine basé sur un script écrit par notre Gerard Beekmans, install-log
enregistre une liste de fichiers installés par un paquet à
l'installation. Il est disponible sur <a
href="http://install-log.sourceforge.net/">http://install-log.sourceforge.net/</a>.</li>
            <li>Gerard a depuis fait des modifications à son script. Il est disponible sur
<a
href="http://linuxfromscratch.org/~gerard/log-install">http://linuxfromscratch.org/~gerard/log-install</a>.</li>
            <li>CheckInstall essaye d'enregistrer les appels systèmes effectués par
«&nbsp;make install&nbsp;». Il est disponible sur <a
href="http://asic-linux.com.mx/%7Eizto/checkinstall/">http://asic-linux.com.mx/~izto/checkinstall/</a>.</li>
            <li>pkgutils, utilisé par la distribution CRUX, est disponible sur <a
href="http://www.fukt.bsnet.se/%7Eper/pkgutils/">http://www.fukt.bsnet.se/~per/pkgutils/</a>.</li>
            <li>Il y a quelques <a href="{{site.baseurl}}/astuces/lire">astuces</a>
disponibles pour les gestionnaires de paquets.</li>
          </ul>
          <p>Si vous avez quelque chose à rajouter à la liste, merci d'envoyer son id,
URL, et d'autres informations, au mainteneur de la FAQ ou à une liste de
diffusion appropriée pour que ça soit ajouté.</p>
        </dd>
        <dt id="no-poweroff">Comment provoquer l'arrêt électrique de la machine à la sortie du
système&nbsp;?</dt>
        <dd>
          <p>La gestion de l'énergie est une fonctionnalité du noyau, vous devez
l'activer dans le noyau. Dans le noyau 2.4, vous devez active les options
pour <code>Power Management Support</code> dans <code>General
Setup</code>. Pour les vieilles machines, vous voudrez sans doute les
options APM, les nouvelles machines requièrent souvent ACPI. Assurez-vous
que soit APM soit ACPI soit activé dans le noyau, mais
<strong>jamais</strong> les deux en même temps —&nbsp;c'est connu pour poser
des problèmes comme par exemple aucun ne fait d'effet. Essayez aussi de
désactiver SMP si vous n'avez qu'un processeur&nbsp;; il est connu pour
empêcher l'extinction propre. Assurez-vous de lire l'aide de chaque option.</p>
          <p>Après avoir redémarré dans le nouveau noyau vous devriez être capable
d'éteindre votre machine avec la commande <code>shutdown -h now</code> ou
<code>poweroff</code> (lisez aussi <code>man shutdown</code> et <code>man
halt</code>). Si vous compilez APM ou ACPI en tant que modules, assurez-vous
qu'ils soient chargés avant d'essayer d'éteindre la machine. Certaines
machines requièrent que APM ou ACPI soit compilé dans le noyau car ils
doivent être initialisés au démarrage. </p>
        </dd>
      </dl>
      <p><a href="#lfsfaq">Haut de la page.</a></p>

      <h3 id="resources">Pendant la lecture et la construction de LFS</h3>
      <dl>
        <dt id="what-dist">Quelle distribution devrais-je utiliser, pour démarrer&nbsp;?</dt>
        <dd>
          <p>La plupart des distributions relativement récentes devraient
fonctionner. N'utilisez pas Fedora Core 4 car sa version de GCC ne fonction
pas avec la versions stable actuelle de LFS. Assurez-vous d'avoir installé
ou mis à jour les paquets de développement. (Recherchez ceux qui commencent
par «&nbsp;gcc&nbsp;», «&nbsp;glibc&nbsp;» ou «&nbsp;libstdc++&nbsp;» ou qui
finissent par «&nbsp;-dev&nbsp;»). Si vous souhaitez utiliser LFS comme
système principal et souhaitez l'installer sans d'abord installer une
distribution, essayez <a
href="http://www.knopper.net/knoppix/index-en.html">Knoppix</a>.</p>
        </dd>
        <dt id="kernel-modules">Comment compiler un noyau ou configurer un module&nbsp;?</dt>
        <dd>
          <p>En plus de la documentation du noyau sur <a
href="file:///usr/src/linux/Documentation">/usr/src/linux/Documentation</a>
ou là où vous avez décompressé les sources du noyau et de l'aide dans
l'outil de configuration du noyau (make menuconfig), voyez le Module-HOWTO
sur <a
href="http://www.tldp.org/HOWTO/Module-HOWTO/">http://www.tldp.org/HOWTO/Module-HOWTO/</a>.</p>
        </dd>
        <dt id="gcc-warnings">Est-ce que c'est mal, les avertissements de compilation de Gcc&nbsp;?</dt>
        <dd>
          <p>Réponse courte&nbsp;: non.</p>
          <p>Répons longue&nbsp;: sans doute, mais seulement pour quelqu'un qui travaille
sur le paquet que vous essayez de compiler. Généralement, tout ira bien à
moins que make ne quitte en erreur.</p>
          <p>Voici un exemple&nbsp;:</p>
          <div class="cmd">
            <p>sk ~/tmp $ cat &gt; Makefile<br />
               main:<br />
               gcc main.c<br />
               sk ~/tmp $ cat &gt; main.c<br />
               void main() { exit(0); }<br />
               sk ~/tmp $ make<br />
               gcc main.c<br />
               <strong>main.c: In function `main':</strong><br />
               <strong>main.c:1: warning: return type of `main' is not `int'</strong><br />
               sk ~/tmp $ ######## ça a fonctionné ########<br />
               sk ~/tmp $<br />
               sk ~/tmp $ cat &gt; main.c<br />
               int main() { e<span class="strong">xx</span>it(0) }<br />
               sk ~/tmp $ make<br />
               gcc main.c<br />
               <strong>main.c: In function `main':</strong><br />
               <strong>main.c:1: parse error before `}'</strong><br />
               <strong>make: *** [main] Error 1</strong><br />
               sk ~/tmp $ ######## ça a échoué ########<br />
               sk ~/tmp $</p>
          </div>
        </dd>
        <dt id="really-small">Comment puis-je procéder à cette toute petite installation dont parle le
livre&nbsp;?</dt>
        <dd>
          <p>Gerard a décrit comment créer une installation LFS de 5 Mo dans <a
href="http://linuxfromscratch.org/pipermail/lfs-support/2001-October/000202.html">un
courriel sur lfs-support</a> et il y a des liens vers plusieurs ressources
dans <a
href="http://linuxfromscratch.org/pipermail/lfs-support/2002-June/007255.html">un
post de Cor Lem</a> et une réponse.</p>
        </dd>
        <dt id="procs-lfs">Existe-t'il des informations sur la façon de construire LFS sur d'autres
architectures&nbsp;?</dt>
        <dd>
          <p>Pour des informations sur la construction de LFS pour une vaste catégorie de
systèmes, regardez <a href="http://trac.clfs.org/wiki/read">Cross LFS</a>.</p>
          <p>Pour les systèmes Alpha, Kelledin maintient une liste de correctifs pour la
construction sur la la plateforme Alpha sur <a
href="http://skarpsey.dyndns.org/alpha-lfs/alpha.html">http://skarpsey.dyndns.org/alpha-lfs/alpha.html</a>.</p>
        </dd>
        <dt id="cross-compile">Comment faire une compilation croisée avec LFS&nbsp;?</dt>
        <dd>
          <p>Il est souvent utile de compiler LFS pour une machine sur une autre
machine. Disons que vous utilisez ce véloce Athlon 1 GHz pour construire et
installer sur un vieux 486. Bien que ça ne soit pas techniquement de la
compilation croisée, les binaires compilés sur l'Athlon ne peuvent pas être
lancés sur le 486 car les binaires compilés sur les nouveaux processeurs
utilisent des fonctionnalités que les vieux processeurs n'ont pas.</p>
          <p>Le livre LFS spécifique à la compilation croisée est le livre <a
href="http://trac.clfs.org/wiki/read">Cross-LFS</a>. Une autre source
d'information serait <a href="/astuces/lire/">l'astuce sur la compilation
croisée</a>.</p>
        </dd>
        <dt id="dos-text">Qu'est qu'un fichier texte au format DOS&nbsp;?</dt>
        <dd>
          <p>Cela a à voir avec les caractères en fin de ligne.</p>
          <p>Il y en a deux qui sont utilisés&nbsp;:</p>
          <ul>
            <li>Saut de Ligne&nbsp;: (LF) Octal&nbsp;: 012 Décimal&nbsp;:10 Hexa&nbsp;:0A
Échappement à la C&nbsp;:'\n'. Déplace d'une ligne vers le bas.</li>
            <li>Retour Charriot: (CR) Octal&nbsp;:015 Décimal&nbsp;:13 Hexa&nbsp;:0D
Échappement à la C:'\r'. Déplace le curseur vers la marge à gauche.</li>
          </ul>
          <p>Unix, DOS et MacOS utilisent chacun une combinaison différent pour terminer
les lignes des fichiers textes&nbsp;:</p>
          <ul>
            <li>Unix&nbsp;: LF seulement. C'est pour cela que lorsqu'un text au format Unix
est envoyé à une imprimante directement, il sort ainsi&nbsp;:<br />
                &nbsp;&nbsp;comme<br />
                &nbsp;&nbsp;&nbsp;&nbsp;des marches<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d'escaliers.<br /></li>
            <li>DOS&nbsp;: CRLF (les deux). C'est pourquoi en faisant «&nbsp;cat -v&nbsp;»
sur un fichier DOS vous verrez un «&nbsp;^M&nbsp;» (contrôle M est le retour
charriot) à la fin de chaque liggne. Et c'est pourquoi les scripts ne
fonctionnent pas lorsqu'ils sont écrits avec le bloc-notes de Microsoft. Le
noyau cherche «&nbsp;/bin/sh^M&nbsp;» qui n'existe pas. Il y a bien un
«&nbsp;/bin/sh&nbsp;» mais rien avec un «&nbsp;^M&nbsp;» à la fin.</li>
            <li>MacOS&nbsp;: CR seulement. Les imprimantes impriment sans doute les lignes
par dessus les autres et les outils Unix pensent que le fichier ne fait
qu'une ligne avec des «&nbsp;^M&nbsp;» partout dedans.</li>
          </ul>
          <p>Pour convertir du format DOS à Unix, utilisez</p>
          <div class="cmd">
            <p>cp &lt;fileid&gt; &lt;fileid&gt;.dos &amp;&amp;<br />
               cat &lt;fileid&gt;.dos | tr -d '\r' &gt; &lt;fileid&gt;</p>
          </div>
          <p>Ou dans <code>vim</code>, vous pouvez convertir un fichier avec <code>:set
ff={unix, dos, mac}</code>. Les autres conversions demanderont sans doute
sed ou une utilisation différente de tr et sont laissé en exercice au
lecteur.</p>
        </dd>
      </dl>
      <dl>
        <dt id="wget">Y a-t-il moyen de télécharger tous les fichiers actuels d'un coup&nbsp;?</dt>
        <dd>
          <p>Oui. Vous pouvez télécharger le fichier LFS-BOOK-x.y-wget-list sur <a href=
"http://www.linuxfromscratch.org/lfs/downloads/stable">
http://www.linuxfromscratch.org/lfs/downloads/stable</a>. Pour télécharger
tous les fichiers, utilisez la version de <code>wget</code> de votre
distribution hôte et lancez&nbsp;:</p>
          
          <code>wget --input-file=LFS-BOOK-x.y-wget-list</code>

        </dd>
      </dl>
      <p><a href="#lfsfaq">Haut de la page.</a></p>

      <h3 id="generrors">Erreurs de compilation usuelles</h3>
      <dl>
        <dt id="gnu-patches">J'ai utilisé un patch provenant de GNU pour faire des mises à jour. C'est
bon&nbsp;?</dt>
        <dd>
          <p>Les correctifs de GNU ne marchent pas en général. Vous pouvez soit
télécharger l'archive complète et essayer de nouveau, soit essayer la
solution proposée par Gerard Beekmans&nbsp;:</p>
          <p>Le problème est que les scripts marqués exécutables sont corrigés aussi et
ils perdent leur bit exécutable, donc vous ne pouvez plus les exécuter
jusqu'à ce que vous lanciez «&nbsp;chmod +x&nbsp;» dessus (ou quelque chose
de similaire comme chmod 755) avant d'installer Glibc. Essayez chmod +x
glibc-2.2.5/scripts/* (je ne suis pas 100% sûr des chemins mais ça devrait
être évident à trouver en lançant «&nbsp;ls&nbsp;» dans le répertoire
glibc-2.2.5). </p>
        </dd>
        <dt id="optimizations">Utilisation des flags d'optimisation (paramétrage des CFLAGS)</dt>
        <dd>
          <p>Si vous obtenez des erreurs et que vous initialisez CFLAGS ou changez les
paramètres d'optimisation du compilateur, cela pourrait être le problème.</p>
          <p>Si vous demandez sur la liste et qu'ils ne trouvent pas tout de suite, ils
vous suggéreront sans doute d'essayer sans optimisation. Donc si vous
réessayez seulement sans demander, vous aurez un coup d'avance sur eux :)</p>
          <p>Il est important de noter qu'optimiser binutils, gcc ou glibc peut provoquer
des échecs à la compilation ou au lancement d'autres paquets ou les faire se
comporter de manière étrange et mystérieuse. Aussi, une optimisation qui
fonctionne pour quelqu'un d'autre peut ne pas fonctionner pour vous. Les
drapeaux qui marchaient peuvent mystérieusement arrêter de fonctionner. Même
de petits changements innocents dans le matériel peut faire la différence.</p>
          <p>(Si vous ne savez pas ce que sont les drapeaux d'optimisation, ne vous en
faîtes pas, vous n'avez vraiment pas besoin de savoir.)</p>
        </dd>
        <dt id="config-hang-size_t">Pourquoi est-ce que configure se fige sur «&nbsp;checking for signed size_t
type...&nbsp;»&nbsp;?</dt>
        <dd>
          <p>Vous avez sur-optimisé gcc.</p>
        </dd>
        <dt id="dirty-sources">Je n'ai pas effacé l'arborescence des sources après mon dernier
essai. Faut-il le faire&nbsp;?</dt>
        <dd>
          <p>Oui. En général on ne peut pas compter sur <code>make clean</code> ou
<code>make dist-clean</code> pour nettoyer les sources. Surtout quand vous
avez modifié les sources à la main ou appliqué un correctif, vous devriez
essayer de nouveau avec un paquet fraîchement décompressé. La seule
exception à cette règle est le noyau linux, qui requière que ses sources
soient présentes lorsque des modules tiers, comme ceux des pilotes NVidia,
sont requis.</p>
        </dd>
        <dt id="perm-denied">J'obtiens le message «&nbsp;/dev/null: Permission denied&nbsp;»</dt>
        <dd>
          <p>Est-ce que /dev/null ressemble à ça&nbsp;:</p>
          <div class="cmd">
            <p>$ ls -l /dev/null<br />
               crw-rw-rw- 1 root root 1, 3 Aug 3 2000 /dev/null</p>
          </div>
          <p>Si non, il devrait. Regardez les pages de manuel de chmod(1), chown(1) et
mknod(1) et /usr/src/linux/Documentation/devices.txt si vous avez besoin
d'aide pour corriger ça.</p>
          <p>Si ça semble juste, le problème est probablement vos options de
montage. Regardez la réponse à «&nbsp;<a
href="#bad-interpreter-permission-denied">./configure: bad interpreter:
Permission denied</a>&nbsp;», au dessus.</p>
        </dd>
        <dt id="sig11">signal 11 (internal error: Segmentation fault)</dt>
        <dd>
          <p>La réponse longue se trouve sur <a
href="http://www.bitwizard.nl/sig11/">http://www.bitwizard.nl/sig11/</a>.</p>
          <p>La répons courte est que si redémarrer make avance un peu à chaque fois,
vous avez un problème matériel. (Si make ou quoi que ce soit que vous
lanciez, échoue au même endroit à chaque fois, ce n'est pas matériel).</p>
          <p>En supposant que vous n'êtes pas overclocké, le problème matériel le plus
probable est une mauvaise mémoire que vous pouvez vérifier avec Memtest86 de
<a href="http://www.memtest86.com/">http://www.memtest86.com/</a>. Si ça
n'est pas ça, regardez la répons longue.</p>
        </dd>
        <dt id="any-no-such-file">No such file or directory</dt>
        <dd>
          <p>Des exemples de cette erreur sont&nbsp;:</p>
          <div class="cmd">
            <p>/usr/bin/env: /tools/bin/bash: No such file or directory<br />
               gcc: No such file or directory</p>
          </div>
          <p>Cela signifie généralement une coquille dans l'installation de GCC Pass
2. Pour les anciennes versions de LFS, la cause principale été d'oublier
d'appliquer le correctif à specs.</p>
          <p>Ce qui se passe, c'est que le chemin du chargeur de lien dynamique inclus
dans l'exécutable pointe toujours sur /lib/ld-linux.so.2 et lorsqu'on lance
le binaire dans le chroot où /lib/ld-linux.so.2 n'existe pas encore, le
message d'erreur peu explicite <code>No such file or directory</code>
apparaît.</p>
          <p>Vous pouvez tester cela avec <code>readelf -l {binary} | grep
interpreter</code>. Sa sortie devrait être <code>Requesting program
interpreter: /tools/lib/ld-linux.so.2</code>.</p>
        </dd>
        <dt id="configure-no-such-file">bash: ./configure: No such file or directory</dt>
        <dd>
          <p>Vous avez oublié de <code>cd</code> dans le répertoire extrait du paquet
après l'avoir extrait.</p>
        </dd>
        <dt id="bad-interpreter-permission-denied">./configure: bad interpreter: Permission denied</dt>
        <dd>
          <p>Vous obtenez probablement ça en construisant binutils dans le chapitre 5 du
livre LFS. Le problème est probablement vos options de montage. Vous avez
sans doute une ligne dans /etc/fstab qui ressemble à&nbsp;:</p>
          <code>/dev/hda10 /mnt/lfs ext2 user 1 2</code>
          <p>«&nbsp;user&nbsp;» est un drapeau de montage, et ce n'est pas le
problème. Pour citer la page de manuel de mount&nbsp;:</p>
          <cite>user: Permet à une utilisateur ordinaire de monter le système de
fichiers. Cette option implique les options noexec, nosuid et nodev (à moins
d'être écrasé par les options suivantes, comme dans la ligne d'options
user,exec,dev,suid).</cite>
          <p>Donc changez la ligne dans /etc/fstab ainsi&nbsp;:</p>
          <code>/dev/hda10 /mnt/lfs ext2 defaults 1 2</code>
        </dd>
        <dt id="conf-guess-fail">configure n'arrive pas à déterminer le type de mon hôte.</dt>
        <dd>
          <p>Les symptômes typiques ressemblent à ceci&nbsp;:</p>
          <div class="cmd">
            <p>sk ~/tmp-0.0 $ ./configure<br />
               creating cache ./config.cache<br />
               checking host system type...<br />
               <strong>configure: error: can not guess host type; you must specify
one</strong><br />
               sk ~/tmp-0.0 $</p>
          </div>
          <p>Le problème est généralement que le script ne peut pas lancer le
compilateur. Généralement c'est juste un lien symbolique /usr/bin/cc
manquant. Vous pouvez le modifier ainsi&nbsp;:</p>
          <code>cd /usr/bin &amp;&amp; ln -s gcc cc</code>
          <p>Si ça ne marche pas, vérifiez le fichier config.log créé par configure. Les
erreurs sont enregistrées là et peuvent indiquer le problème.</p>
        </dd>
        <dt id="config-not-gnu-c">checking whether we are using GNU C... no</dt>
        <dd>
          <p>Si vous obtenez une erreur de configure comme ça&nbsp;:</p>
          <div class="cmd">
            <p>checking whether we are using GNU C... no<br />
               configure: error: GNU libc must be compiled using GNU CC</p>
          </div>
          <p>Cela pourrait signifier que egrep ne fonctionne pas. Comme egrep est un
script shell qui appelle grep, cela signifie qu'il y a un problème avec
grep.</p>
          <p>Pour tester si grep fonctionne <em>avant</em> de réinstaller le paquet grep
dans le chapitre 6, lancez la commande suivante depuis <em>l'extérieur</em>
du chroot&nbsp;:</p>
          <code>file $LFS/bin/grep</code>
          <p>Si ça n'indique pas <code>statically linked</code>, vous avez un problème et
devez réinstaller le paquet grep conformément aux instructions du chapitre
5.</p>
          <p>Pour tester si egrep fonctionne <em>après</em> avoir réinstallé le paquet
grep dans le chapitre 6, lancez la commande suivante depuis
<em>l'intérieur</em> du chroot&nbsp;:</p>
          <code>egrep root /etc/passwd</code>
          <p>Si cela n'affiche pas la ligne de root du fichier /etc/passwd, de nouveau,
vous avez un problème. (Ce test fonctionne aussi si vous rencontrez un
problème après avoir redémarré dans votre nouveau système LFS).</p>
        </dd>
        <dt id="no-ptys">The system has no more ptys.  Ask your system administrator to create more.</dt>
        <dd>
          <p>Si vous lancez</p>
          <div class="cmd">
            <p>expect -c &quot;spawn ls&quot;</p>
          </div>
          <p>et obtenez cette erreur&nbsp;:</p>
          <div class="cmd">
            <p>The system has no more ptys.<br />
               Ask your system administrator to create more.</p>
          </div>
          <p>alors votre distribution Linux n'est soit pas configurée pour utiliser les
PTY Unix98 soit pour utiliser le système de fichiers /dev/pts.</p>
          <p>La solution peut demander de recompiler votre noyau. Tout d'abord allez dans
le répertoire des sources de votre noyau et regardez le fichier .config. Si
vous ne trouvez pas le fichier .config et que vous tournez sur un noyau
précompilé installé avec rpm, apt-get ou ce que votre distribution utilise,
alors vous devrez trouver du support auprès de la FAQ, des listes de
diffusion ou les canaux IRC de votre distribution.</p>
          <p>Si vous avez un fichier .config, cherchez dedans les deux option
suivantes&nbsp;:</p>
          <div class="cmd">
            <p>CONFIG_UNIX98_PTYS=y<br />
               CONFIG_DEVPTS_FS=y</p>
          </div>
          <p>Si l'une des deux a «&nbsp;n&nbsp;» au lieu de «&nbsp;y&nbsp;», alors
changez-la et recompilez le noyau.</p>
          <p>Si elles sont toutes les deux à «&nbsp;y&nbsp;», alors vous n'aurez
probablement pas besoin de recompiler le noyau.</p>
          <p>Ensuite, nous devons nous assurer que le système utilise bien les PTY Unix98
et le système de fichiers /dev/pts.</p>
          <p>Tout d'abord, cherchez un périphérique nommé /dev/ptmx. S'il n'existe pas,
créez-le avec&nbsp;:</p>
          <div class="cmd">
            <p>mknod /dev/ptmx c 5 2</p>
          </div>
          <p>Ensuite, qu'il ait existé ou que vous veniez de le créer, lancez&nbsp;:</p>
          <div class="cmd">
            <p>chmod 666 /dev/ptmx</p>
          </div>
          <p>Puis, assurez-vous qu'il y a bien un répertoire nommé /dev/pts. Les
permissions devraient être 755. Créez-le ou chmodez-le si besoin.</p>
          <p>L'étape finale consiste à ajouter la ligne suivante à /etc/fstab&nbsp;:</p>
          <div class="code">
            <p>devpts&nbsp;&nbsp;&nbsp;&nbsp;/dev/pts&nbsp;&nbsp;&nbsp;&nbsp;devpts&nbsp;&nbsp;&nbsp;&nbsp;gid=5,mode=620&nbsp;&nbsp;&nbsp;&nbsp;0&nbsp;&nbsp;0</p>
          </div>
          <p>REMARQUE&nbsp;: Cherchez le groupe tty dans /etc/group et notez le numéro
d'id du groupe. Changez l'option gid=5 pour correspondre au numéro d'id du
groupe tty. L'id du groupe de 5 n'est qu'un exemple et peut être différent
sur votre système.</p>
          <p>Maintenant que tout est configuré, vous avez deux options.</p>
          <p>1. Montez /dev/pts et testez-le en relançant la commande expect ci-dessus.</p>
          <p>2. Redémarrez l'ordinateur et testez-le en relançant la commande expect
ci-dessus.</p>
        </dd>
      </dl>
      <p><a href="#lfsfaq">Haut de la page.</a></p>

      <h3 id="packerrors">Erreurs spécifiques à certains paquets</h3>
      <dl>
        <dt id="unknown-pseudo-op-hidden">GCC: Error: Unknown pseudo-op: `.hidden'</dt>
        <dd>
          <p>Si la compilation de GCC dans le chapitre 5 échoue avec</p>
          <code>Error: Unknown pseudo-op: `.hidden'</code>
          <p>Essayez la solution donnée dans <a
href="http://linuxfromscratch.org/pipermail/lfs-support/2002-September/009562.html">les
archives de lfs-support</a> et ses réponses.</p>
        </dd>
        <dt id="glibc-awk-fail">Glibc sort en erreur et évoque BEGIN et END.</dt>
        <dd>
          <p>Si la construction de glibc échoue avec une erreur comme ceci&nbsp;:</p>
          <div class="cmd">
            <p>'BEGIN { subdirs = ""; inhibit = "" }; \<br />
               ^# { next }; \<br />
               ^[^-] { subdirs = subdirs " " $0 }; \<br />
               ^- { inhibit = inhibit " " substr($0, 2) }; \<br />
               END { printf "sysdep-subdirs =%s\n", subdirs; \<br />
               printf "sysdep-inhibit-subdirs =%s\n", inhibit; \<br />
               print "sysd-dirs-done = t" }' \<br />
               /dev/null linuxthreads/sysdeps/pthread/Subdirs<br />
               sysdeps/unix/inet/Subdirs sysdeps/unix/Subdirs &gt;<br />
               /usr/src/glibc-build/sysd-dirs-tmp<br />
               /bin/sh: line 1: BEGIN { subdirs = ""; inhibit = "" };<br />
               ^# { next };<br />
               ^[^-] { subdirs = subdirs " " $0 }; ^- { inhibit =<br />
               inhibit " " substr($0, 2) }; END</p>
          </div>
          <p>alors gawk échoue. La clef est le BEGIN et le END dans la sortie. La raison
probable est qu'il est lié incorrectement. Cela peut être corrigé en le
recompilant en tant qu'utilisateur lfs, en suivant les instructions du
chapitre 5.</p>
        </dd>
        <dt id="glibc-nss">La compilation de Glibc sort en erreur à cause de l'absence de l'entête de
fichier nss.h.</dt>
        <dd>
          <p>Cela indique en général que vous compilez LFS sur une partition
Reiser4. Malheureusement, il n'y a aucune solution actuellement connue,
autre que d'utiliser un autre type de système de fichier. </p>
        </dd>
        <dt id="cpp-fails-sanity-check">Ncurses&nbsp;: le préprocesseur C++ "/lib/cpp" échoue lors de la
vérification de conformité</dt>
        <dd>
          <p>Ncurses au chapitre six se termine par&nbsp;:</p>
          <div class="cmd">
            <p>checking how to run the C++ preprocessor... /lib/cpp<br />
               configure: error: C++ preprocessor "/lib/cpp" fails sanity check</p>
          </div>
          <p>Le problème est que vous n'avez pas de compilateur c++. Dans le chapitre
cinq, gcc a été construit sans le compilateur C++. Avant de construire
ncurses, gcc est reconstruit avec le compilateur C++. Probablement que vous
avez oublié d'extraire l'archive de g++ ou n'avez pas spécifié
«&nbsp;c++&nbsp;» dans l'option de configure --enable-languages, à la
deuxième construction de gcc. Il y a plus de détails dans <a
href="http://archives.linuxfromscratch.org/mail-archives/lfs-support/2003-July/018757.html">l'archive
de la liste</a>.</p>
        </dd>
      </dl>
      <p><a href="#lfsfaq">Haut de la page.</a></p>

      <h3 id="confboot">Problèmes de configuration et de démarrage</h3>
      <dl>
        <dt id="unable-to-mount-root">Kernel panic: VFS: unable to mount root fs</dt>
        <dd>
          <p>Il y a plusieurs raisons pour expliquer pourquoi le noyau n'arrive pas à
monter le système de fichiers racine.</p>
          <ul>
            <li>Avez-vous spécifié la bonne partition dans
<code>/boot/grub/menu.lst</code>&nbsp;?</li>
            <li>Le support pour votre disque dur est-il activé dans le noyau&nbsp;? Pour
SCSI cela signifie le support pour l'adaptateur SCSI spécifique.</li>
            <li>Le support pour le disque dur est-il compilé dans le noyau, pas seulement en
tant que module&nbsp;? (Les modules sont stockés sur le système de
fichiers. Si un pilote requis pour accéder au système de fichier est stocké
en tant que module sur ce même système de fichier, eh bien… vous voyez… ;))</li>
            <li>Le support pour le système de fichier est-il compilé dans le noyau&nbsp;? De
nouveau, pas en tant que module. Le support pour ext2 est activé par défaut,
mais les autres comme ext3, reiser, jfs et xfs ne le sont pas.</li>
          </ul>
        </dd>
        <dt id="respawning-too-fast">init: Id "1" respawning too fast: disabled for 5 minutes</dt>
        <dd>
          <p>Lorsque vous voyez dans votre journal système, cette ligne&nbsp;:</p>
          <code>init: Id "1" respawning too fast: disabled for 5 minutes</code>
          <p>Cela signifie que vous avez une erreur dans la ligne /etc/inittab qui
commence avec l'id indiqué («&nbsp;1&nbsp;» dans l'exemple).</p>
        </dd>
        <dt id="char-major-10-135">modprobe: Can't locate module char-major-10-135</dt>
        <dd>
          <p><code>char-major-10-135</code> se rapporte au périphérique de caractère,
majeur 10, mineur 135, qui est /dev/rtc. Il fournit l'accès à l'horloge du
BIOS, ou RTC, l'Horloge Temps Réel. Voir
/usr/src/linux/Documentation/rtc.txt pour plus d'information.</p>
          <p>L'erreur provient du fait que quelque chose, probablement hwclock, essaye
d'utiliser /dev/rtc sans que vous ayez configuré le noyau pour le
supporter. Soit vous supprimez /dev/rtc pour que hwclock n'essaye plus de
l'utiliser, soit vous activez le support RTC dans votre noyau. Il se trouve
dans le make menuconfig dans la section «&nbsp;Character devices&nbsp;»
-&gt; «&nbsp;Enhanced Real time Clock Support&nbsp;».</p>
        </dd>
        <dt id="no-dev-rtc">modprobe: Can't locate module /dev/rtc</dt>
        <dd>
          <p>Voir la question <a href="#char-major-10-135">"modprobe: Can't locate module
char-major-10-135"</a></p>
        </dd>
        <dt id="eth0-unknown-interface">eth0:unknown interface:No such device [failed] </dt>
        <dd>
          <p>L'erreur complète ressemble à ceci&nbsp;:</p>
          <div class="cmd">
            <p>eth0:unknown interface:No such device [failed]<br />
               Setting up default gateway...<br />
               SIOCADDRT:No such device [failed]</p>
          </div>
          <p>eth0 est un périphérique virtuel sans entrée dans /dev. Il se réfère à la
première carte réseau détectée par votre système. La raison pour laquelle le
noyau ne peut pas trouver le périphérique est que vous avez oublié d'ajouter
le support pour votre carte réseau dans le noyau. Le noyau détecte la carte
réseau mais n'a pas de pilote pour elle. Le script de démarrage de LFS
essaye d'activer le réseau mais échoue à cause de cela.</p>
          <p>recompilez votre noyau avec le bon pilote, soit en dur soit en tant que
module. Si vous compilez le pilote réseau en tant que module, ajoutez-le
aussi à /etc/modules.conf pour affecter la carte réseau à eth0&nbsp;; par
exemple&nbsp;: <code>alias eth0 8139too</code>. Si vous ne savez pas quelle
carte réseau vous avez, vous pouvez utiliser <code>dmesg</code>, /proc/pci
ou <code>lspci</code> pour la trouver.</p>
        </dd>
        <dt id="spurious-8259A-interrupt">spurious 8259A interrupt: IRQ14 </dt>
        <dd>
          <p>Court résumé&nbsp;: C'est un problème matériel (généralement). Du bruit
temporaire sur la ligne persuade le PIC que quelque chose est arrivé&nbsp;;
cela peut faire lever une fausse interruption, qui se trouve être l'IRQ7
avec la conception du 8259 d'Intel. Le problème pourrait aussi être causé
par (ou plutôt causé par) un pilote de périphérique qui ne masque pas
proprement ses interruptions avant de les servir, ce qui pourrait bien être
le cas lorsque les IRQ7 arrivent par paquets, ou plus souvent que
«&nbsp;plusieurs&nbsp;» par jour. (<a
href="http://groups.google.com/groups?q=spurious+interrupt+8259&amp;hl=de&amp;scoring=d&amp;selm=3C174EDD.9090306%40hotmail.com&amp;rnum=10">Source
et informations supplémentaires</a>)</p>
          <p>Puisque le message lui-même est sans conséquence, il est suffisant d'ajuster
le niveau d'enregistrement par défaut de klogd (l'option -c) dans le script
de démarrage de syslogd. Voir <code>man klogd</code> pour les détails. Vous
pouvez aussi essayer de recompiler le noyau et désactiver CONFIG_LOCAL_APIC.</p>
        </dd>
        <dt id="less-prints-ad">Pourquoi est-ce que less (et par conséquent man) affiche &lt;AD&gt; au lieu
des tirets&nbsp;?</dt>
        <dd>
          <p>Parce que les variables d'environnement LANG et LC_ALL ne sont pas
initialisées. Pour corriger cela, initialisez-les dans les fichiers
~/.bash_profile et ~/.bashrc pour chaque utilisateur ou dans /etc/profile,
qui s'occupe de tous les utilisateurs en ajoutant des lignes comme&nbsp;:</p>
          <div class="cmd">
            <p>export LANG=en_US<br />
               export LC_ALL=POSIX</p>
          </div>
          <p>Ces lignes peuvent être ajoutées au fichier /etc/profile avec la commande
suivante&nbsp;:</p>
          <code>echo -e 'export LANG=en_US\nexport LC_ALL=POSIX' &gt;&gt;
/etc/profile</code>
          <p>Si vous n'utilisez pas l'anglais américain, vous devrez changer les
«&nbsp;en_US&nbsp;» et éventuellement les valeurs des diverses variables
LC_*. Lancez la commande locale liste plusieurs (toutes&nbsp;?) les
variables LC_*.</p>
        </dd>
      </dl>

       <br />
