---
layout: lasts
title: Linux From Scratch
use-site-title: true
all_news_url: /tag/LFS/
pagination:
  enabled: true
  per_page: 4
  tag: LFS
---

  <p style="text-indent: 40px;">
   <strong>Linux From scratch</strong> est un livre décrivant l’installation
   étape par étape d’un système d’exploitation Linux à partir du code source.
 </p>
   <p>
     Suivre ce livre vous permettra de&nbsp;:
     <ul>
       <li>Comprendre les interactions entre les différents programmes constituants la base d’un système Linux</li>
       <li>Connaître la base de la configuration d’un système Linux</li>
       <li>Réaliser votre propre distribution Linux</li>
     </ul>
  </p>
  <p class="test-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/lfs/lire">Lire le livre</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/lfs/telecharger">Télécharger le livre</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/faq/lfs">Lire la FAQ</a>
  </p>
  <p>
    Une fois ce livre terminé, lancez-vous dans l’aventure <a href="{{ site.baseurl }}/blfs">BLFS</a>&nbsp;!
  </p>
