---
layout: page
title: Lire LFS
use-site-title: true
---
<h2>Consulter la dernière version&nbsp;:</h2>
<p>
La dernière version stable est la version {{ site.data.lfs.versions.current }}.
</p>
<p>
Vous devez maintenant choisir entre deux variantes. Elles sont équivalentes, mais
votre choix conditionnera la manière dont votre système sera géré. La différence
entre ces deux variantes est le système d'init.
<a href="https://en.wikipedia.org/wiki/Init#SYSV" target="_blank">SysVinit</a>
est le système d'initialisation traditionnel des systèmes Unix.
<a href="https://en.wikipedia.org/wiki/Systemd" target="_blank">Systemd</a> est
un système d'initialisation de remplacement désormais utilisé par la plupart
des distributions. Il existe d'autres systèmes d'initialisation, mais ils ne sont
pas couverts dans LFS.
</p>
<p class="text-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.view }}/lfs-stable">Lire la version SysVinit</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.view }}/lfs-systemd-stable">Lire la version Systemd</a>
</p>
<h2>Consulter la version de développement&nbsp;:</h2>
<p>
Attention, étant la version de développement, il se peut qu’il y reste des fautes et des bogues
issus de la version originale qui n’ont pas été corrigés. Elle doit être utilisée prudemment.
</p>
<p class="text-center">
<a class="btn btn-primary btn-lg" href="{{ site.view }}/lfs-svn">
<i class="fa fa-bug"></i> version SysVinit</a>&nbsp;
<a class="btn btn-primary btn-lg" href="{{ site.view }}/lfs-systemd-svn">
<i class="fa fa-bug"></i> version Systemd</a>
</p>

<h2>Consulter les anciennes versions&nbsp;:</h2>
<p>
  <ul>
{% for version in site.data.lfs.versions.older %}
  <li><a href="{{ site.view }}/lfs-{{ version[0] }}-fr">LFS {{ version[0] }}</a></li>
  {% if version[1] %}
  <li><a href="{{ site.view }}/lfs-{{ version[0] }}-systemd-fr">LFS {{ version[0] }} systemd</a></li>
  {% endif %}
{% endfor %}
  </ul>
</p>
