---
layout: default
title: 404 - Page non trouvée
permalink: /404.html
---

<div class="text-center">
  <h1>Ooups, cette page n'existe pas.</h1>
  <h1>(Erreur 404)</h1>
  <br/>

  <img alt="404 not found" src="{{ site.baseurl }}/img/lfs-inv-puzzle.svg" />
</div>
