---
layout: lasts
title: Linux From Scratch
subtitle: Site de la communauté francophone.
use-site-title: true
all_news_url: /toutes-les-nouvelles/
pagination:
  enabled: true
  per_page: 4
---

  <p style="text-indent: 40px;">
   <strong>Linux From scratch</strong> est un livre décrivant l'installation étape par étape d'un système d'exploitation Linux à partir du code source.
   Vous trouvez aussi sur ce site les traductions de <a href="{{ site.baseurl }}/clfs">CLFS</a> et
   <a href="{{ site.baseurl }}/hlfs">HLFS</a>, des variantes de LFS ainsi que <a href="{{ site.baseurl }}/blfs">BLFS</a>,
   qui poursuit le livre avec plus de programmes et offre la possibilité d'installer un environnement graphique.
  </p>
  <p>
    Ce site contient aussi des astuces permettant d'adapter le système selon les besoins du lecteur.
  </p>
  <p class="text-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/lfs/lire">
    <img alt="logo lfs" src="{{ site.baseurl }}/img/lfs.png" height="60"/> Lire LFS</a>
  </p>
