---
layout: page
title: Aide
use-site-title: true
---
<h2>Au préalable</h2>
<p>
Avant de demander de l’aide, nous vous recommandons de bien lire les ouvrages.</br>
Pour LFS, les chapitres 2, 4 et 5, surtout les 5 premières sections,
sont tout particulièrement importantes.</br>
Par ailleurs, nous vous conseillons fortement de consulter préalablement la
<a href="{{site.baseurl}}/faq">FAQ</a> du projet.
</p>

<h2 id="irc">IRC</h2>
<p>
Rendez-vous sur le canal irc #lfs-fr sur <a href="https://libera.chat/">irc.libera.chat</a>.</br>
Merci de bien vouloir ne pas utiliser de copier-coller lorsque celui-ci dépasse 3 lignes.
Utilisez dès lors préférentiellement <a href="https://framabin.org/">framabin</a> et partagez le lien.
</p>

<div style="text-align: center;" >
<a href="https://kiwiirc.com/client/irc.libera.chat/?nick=lfs-user-?#lfs-fr" target="_blank">
  <img src="{{ "/img/kiwiirc.png" | prepend: site.baseurl }}" alt="kiwiirc"
  style="webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;">
</a>
</div>

<h2 id="mailing-list">Liste de diffusion</h2>
<p>
Notre projet dispose d’une Liste de diffusion :
<a href="mailto:lfs-traducfr@lists.linuxfromscratch.org">lfs-traducfr@lists.linuxfromscratch.org</a></br>
N’hésitez pas à vous <a href="http://lists.linuxfromscratch.org/listinfo/lfs-traducfr/">Inscrire </a>!</br>
Les <a href="http://lists.linuxfromscratch.org/pipermail/lfs-traducfr/">archives</a> sont elles aussi disponibles.
</p>

<h2 id="forum">Forum</h2>
<p>
Vous pouvez aussi vous rendre sur le <a href="https://www.absolinux.net/forums/ip.php?central=sujets.php&forum=8">forum</a> hébergé par <a href="https://www.absolinux.net/">absolinux</a>.
</p>
