---
layout: page
title: Télécharger BLFS
use-site-title: true
---
<h2>Télécharger la dernière version&nbsp;:</h2>
<p>
La dernière version stable est la version {{ site.data.blfs.versions.current }}.
</p>
<p>
<a class="btn btn-success btn-lg" href="{{ site.archives }}/BLFS-{{ site.data.lfs.versions.current }}/BLFS-SYSV-BOOK-{{ site.data.blfs.versions.current }}-fr.pdf">
<i class="fa fa-file-pdf"></i> Version SysVinit</a>&nbsp;
<a class="btn btn-success btn-lg" href="{{ site.archives }}/BLFS-{{ site.data.lfs.versions.current }}-systemd/BLFS-SYSD-BOOK-{{ site.data.blfs.versions.current }}-fr.pdf">
<i class="fa fa-file-pdf"></i> Version Systemd</a>
</p>
<h2>Télécharger la version de développement&nbsp;:</h2>
<p>
La version de développement est disponible uniquement sur le dépôt git&nbsp;:</br>
</p>

{% highlight bash %}
  git clone git://git.linuxfromscratch.org/fr-lfs
{% endhighlight %}

<h2>Télécharger une ancienne version&nbsp;:</h2>
  {% for version in site.data.blfs.download %}
  <h3>{{ version[0] | print_version }}&nbsp;:</h3>
  <p>
    <ul>
    {% for file in version[1] %}
      <li><a href="{{ site.archives }}/{{ version[0] }}/{{ file }}">{{ file | print_download }}</a></li>
    {% endfor %}
    </ul>
  </p>
  {% endfor %}
