---
layout: lasts
title: Les astuces
use-site-title: true
all_news_url: /tag/ASTU/
pagination:
  enabled: true
  per_page: 4
  tag: ASTU
---
  <p style="text-indent: 40px;">
   Les astuces LFS sont de petits guides expliquant comment adapter et
   personnaliser sa LFS pour la faire coller à ses besoins.
   Elles donnent des informations variées telles que des moyens alternatifs de
   compilation ou de configuration des paquets, des informations sur des paquets
   instables ou nouveaux non encore intégrés aux livres, des points techniques
   spécialisés pour du matériel spécifique…
  </p>
  <p>
  <center>
    <a class="btn btn-success btn-lg get-started-btn" href="./lire">Lire les astuces</a>&nbsp;
    <a class="btn btn-success btn-lg get-started-btn" href="./archive">Lire les astuces archivées</a>&nbsp;
  </center>
 </p>
