---
layout: page
title: Contribuer
---

<p>
    Vous souhaitez nous aider&nbsp;? Très bien&nbsp;! Il y a plusieurs manières
    de participer au projet de traduction de Linux From Scratch. La plus évidente
    consiste à <a href="#traduire">traduire ou relire</a> le livre, comme les
    astuces.
</p>
<p>
    Vous pouvez aussi jeter un œil
    <a href="https://framagit.org/linuxfromscratchfr/new-lfsfr-website/issues">aux problèmes</a>
    liés à ce site, qui correspondent à toutes les tâches supplémentaires que
    nous avons identifiées, et considérons comme importantes.
</p>
<p>
    Enfin, vous pouvez nous retrouver sur le <a href="{{site.baseurl}}/aide/#irc">canal IRC</a>
    pour aider d'autres personnes ou discuter du futur du projet.
</p>
<p>
    Merci pour toute l'aide que vous pourrez apporter&nbsp;!
</p>

<h2 id="traduire">Comment traduire ou relire&nbsp;?</h2>
    <p>
      Tout d’abord, manifestez-vous auprès de la
      <a href="{{site.baseurl}}/aide/#mailing-list">liste de diffusion</a>. Cela
      permet de s'assurer que personne ne fait de travail en doublon, ce qui serait
      dommage.
    </p>
    
    <h3>Les livres et la FAQ</h3>
    <p>
      La traduction de Linux From Scratch, et des autres livres du projet, est
      désormais réalisée grâce à l’interface en ligne
    <a href="https://en.wikipedia.org/wiki/Pootle">Pootle</a>.
    </p>
    <p>
      Afin de pouvoir identifier le travail de chacun, nous vous invitons à vous
      inscrire sur <a href="https://translate.linuxfromscratch.org">notre instance</a>.
      L'inscription n'est pas obligatoire, mais fortement recommandée.
    </p>
    <p>
      Un <a href="https://translate.linuxfromscratch.org/pages/fr/">petit guide
      de traduction</a>, est disponible afin de nous harmoniser.
    </p>
    
    <h3>Les astuces</h3>
    <p>
        Les astuces ne sont pas disponibles sur le Pootle. Pour pouvoir les traduire
        vous pouvez simplement récupérer la version anglaise sur
        <a href="http://linuxfromscratch.org/hints/downloads/files/">la page dédiée</a>,
        la traduire et la soumettre via la liste de diffusion ou
        <a href="https://framagit.org/linuxfromscratchfr/new-lfsfr-website">le dépôt du site</a>.
    </p>
    <p>
        La relecture suit un procédé similaire&nbsp;: après avoir récupéré les
        dernières versions en anglais et en français et apporté vos corrections,
        vous pouvez les soumettre de la même manière.
    </p>
    
    <h3>Le site</h3>
    <p>
        Vous avez repéré une coquille sur le site&nbsp;? Vous voulez proposer une
        amélioration&nbsp;? Alors n'hésitez pas à nous signaler tout ça sur la liste
        de diffusion ou en <a href="https://framagit.org/linuxfromscratchfr/new-lfsfr-website/issues">ouvrant un ticket</a>.
    </p>