---
layout: lasts
title: Cross Linux From Scratch
use-site-title: true
all_news_url: /tag/CLFS/
pagination:
  enabled: true
  per_page: 4
  tag: CLFS
---

  <p style="text-indent: 40px;">
   <strong>Cross Linux From scratch</strong> reprend le concept de LFS, en
   l’adaptant à la compilation croisée nécessaire aussi bien à un système
   multilib que lors de la compilation pour une autre architecture que celle de l’hôte.
 </p>
 <p>
   Ce livre est disponible pour les architectures
   <strong>Intel/AMD x86</strong>, <strong>MIPS</strong>,
   <strong>PowerPC</strong> et <strong>Sparc</strong>.
  <center>
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.baseurl }}/clfs/lire">Lire le livre</a>&nbsp;
  </center>
 </p>
