---
layout: page
title: Lire CLFS
use-site-title: true
---
<h2>Consulter la dernière version stable&nbsp;:</h2>
<p>
    La version stable n’est traduite que pour les versions x86
</p>
<p class="text-center">
    <a class="btn btn-success btn-lg get-started-btn" href="{{ site.view }}/clfs-2.1-fr">Lire CLFS</a>&nbsp;
</p>

<h2>Consulter la version de développement&nbsp;:</h2>
<p>
    Attention, étant la version de développement, il se peut qu’il y reste des fautes et des bogues
    issus de la version originale qui n’ont pas été corrigés. Elle doit être utilisée prudemment.
</p>
<p class="text-center">
<a class="btn btn-primary btn-lg" href="{{ site.view }}/clfs-svn">
<i class="fa fa-bug"></i> Lire CLFS</a>&nbsp;
</p>
