---
layout: base
---

{% include header.html type="page" astuce=true  %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if page.description %}
          <div class="text-justify alert">
              <em>
                  <p style="text-indent: 40px;">{{ page.description }}</p>
              </em>
          </div>
        {% endif %}
      {{ content }}
    </div>
  </div>
</div>
