---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
  - "/css/font-awesome.min.css"
  - "/css/font-lora.css"
  - "/css/font-texgyre.css"
  - "/css/font-open_sans.css"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="fr">
  <!-- Beautiful Jekyll | MIT license | Copyright Dean Attali 2016 -->
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
