---
layout: page
pagination:
  enabled: true
---

{{ content }}

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posté le {{ post.date | localize: "%-d %B %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Lire&nbsp;la&nbsp;suite]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

<!-- {% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Nouvelles suivantes</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nouvelles précédentes &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->

<nav aria-label="pagination">
{% if paginator.page_trail %}
<center>
  <ul class="pagination">
    {% if paginator.previous_page_path %}
    <li><a href="{{paginator.previous_page_path | prepend: site.baseurl }}" aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>
    {% endif %}
    {% for trail in paginator.page_trail %}
      <li {% if page.url == trail.path %}class="selected"{% endif %}>
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}} - page {{ trail.num }}">{{ trail.num }}</a>
      </li>
    {% endfor %}
    {% if paginator.next_page_path %}
    <li><a href="{{paginator.next_page_path | prepend: site.baseurl}}" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
    {% endif %}
  </ul>
</center>
{% endif %}
</nav>
