---
layout: list
use-site-title: true
pagination:
  enabled: true
  trail:
    before: 1
    after: 3
---


<!-- <h2 class="post_title">{{page.title}}:</h2>

<div class="posts-list">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h3 class="post-title">{{ post.title }}</h3>

      {% if post.subtitle %}
      <h4 class="post-subtitle">
        {{ post.subtitle }}
      </h4>
      {% endif %}
    </a>

    <p class="post-meta">
    Posté le {{ post.date | localize: "%-d %B %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Lire&nbsp;la&nbsp;suite]</a>
    </div>

    <div class="blog-tags">
      Tags:
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </article>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div> -->
